{% extends 'htmx/base.html' %}
{% load static %}


{% block content %}

    <img id="indicador_carregamento" class="position-absolute htmx-indicator"
         style="left: 50%; top:100px; z-index: 1000; width: 80px; transform: translate(-50%, -50%)"
         src="{% static 'svg-loaders/three-dots.svg' %}">

    <div class="d-flex justify-content-around mt-2">
    <span class="text-primary">
        Aqui Estão os serviços oferecidos pela Fusion
    </span>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contentModal"
                hx-get="{% url 'service_create' %}"
                hx-target="#content-modal"
        >
            Criar novo serviço
        </button>

    </div>

    <div class="d-flex justify-content-end">
        <select
                hx-get="service_table"
                hx-trigger="change"
                hx-target="#table_place"
                name="usuario" class="form-control mt-4 mr-2" style="width: 300px">
            {% for user in usuarios %}
                <option value="{{ user.pk }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <input
                hx-get="service_table"
                hx-trigger="keyup"
                hx-target="#table_place"
                name="search" type="text" class="form-control mr-4 mt-4"
                placeholder="Pesquise por Titulo, Descrição ou Ícone..."
                style="width: 500px; border: 1px solid #d5d5d5;">
    </div>
    <div id="table_place"
         hx-get="{% url 'service_table' %}"
         hx-trigger="load"
         hx-indicator="#indicador_carregamento"
    >
    </div>


    {% include 'htmx/services/content-modal.html' %}

    {##}
    {##}
    {##}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    <br>#}
    {#    ###############################}
    {#    <br>#}
    {#    <div style="font-size: 40px;" class="ml-3">#}
    {#        {% for icon, nome in icones %}#}
    {#            <div class="mt-1">#}
    {#                <i class="{{ icon }}"></i> | {{ icon }}#}
    {#            </div>#}
    {#            <br>#}
    {#        {% endfor %}#}
    {#    </div>#}

{% endblock content %}