<div
{#        hx-get="{% url 'service_table' %}"#}
{#        hx-trigger="every 2s"#}
{#        hx-indicator="#indicador_carregamento"#}
{#        hx-target="#table_place"#}
>

    <table class="table border table-bordered text-dark table-hover table-striped">
        <thead class="thead-light">
        <tr>
            <th>Liberado</th>
            <th
                    hx-get="{% url 'service_table' %}?order=-id"
                    hx-target="#table_place"
            >ID
            </th>
            <th>Titulo</th>
            <th>Descição</th>
            <th>Ícone</th>
            <th>Empresa</th>
            <th>Usuario</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody id="ServiceBody">

        {% for object in page_obj.object_list %}
            {% include 'htmx/services/service_result.html' %}
        {% endfor %}

        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {% include 'htmx/pagination_htmx.html' %}
    </div>

</div>




