{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vizualizar Cliente</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<input type="submit" onclick="location.href = '{% url 'class:urls' %}'" value="voltar">
<br/>
<br/>

Titulo: {{ object.titulo }}
    <p>Descrição: {{ object.descricao}}</p>
    <p>Data do Evento: {{ object.data_evento}}</p>
    <p>Salário: {{ object.salario}}</p>
    <p>Habilitado: {{ object.habilitado}}</p>
    <p>Data da Criação: {{ object.data_criacao}}</p>
    <p>Usuário: {{ object.usuario}}</p>

</body>
</html>