<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primeiro</a>
            <a href="?page={{ page_obj.previous_page_number }}">Proximo</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">last</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">ultimo &raquo;</a>
        {% endif %}
    </span>
</div>